.simulation-vuer {
  --el-color-primary: #8300BF;
  --el-color-primary-light-7: #DAB3EC;
  --el-color-primary-light-8: #E6CCF2;
  --el-color-primary-light-9: #F3E6F9;
}

:deep(.el-button:hover) {
  box-shadow: -3px 2px 4px #00000040;
}

:deep(.el-divider) {
  margin: -8px 0 8px 0 !important;
  width: 210px;
}

:deep(.el-loading-spinner) {
  .path {
    stroke: #8300BF;
  }

  i,
  .el-loading-text {
    color: #8300BF;
  }
}

/*
 * helper text
 */
div.helper-text {
  font-family: Asap, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  text-align: left;
}

/*
 * Resource selector
 */
 div.resource-selector {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
}
